body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.priority {
  display: flex !important;
  align-items: center;
}

.priority span {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.flex .column {
  width: unset !important;
}

.flex .column:last-child {
  flex: 1;
}

.pagination-custom {
  text-align: center;
}

.auth span {
  margin-right: 10px !important;
}

.task-done {
  text-decoration: line-through;
}

.sort-column {
  cursor: pointer;
}

.sort-column .icon {
  margin-left: 10px;
}